<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!recipeForm.valid" class="btn btn-success" style="margin-right: 10px">Save</button>
          <button (click)="onCancelRecipe()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              id="name"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              #imagePath
              class="form-control"
              formControlName="imagePath"
              id="imagePath"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="description"
              row="6"
              type="text"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div *ngFor="let ingredientCtrl of getIngredientsControl(); let i = index"
               [formGroupName]="i"
               class="row" style="margin-top: 10px">
            <div class="col-xs-8" style="margin-bottom: 10px">
              <input class="form-control" formControlName="name" type="text">
            </div>
            <div class="col-xs-2">
              <input class="form-control" formControlName="amount" type="number">
            </div>
            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)" class="btn-danger" type="button">x</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button (click)="onAddIngredient()" class="btn btn-success" type="button">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
